{% load static %}
<!-- partial:index.partial.html -->
<div id="nav-bar">

  <div id="nav-content">
    <hr/>
    <div class="nav-button" id="viewNotes"><i class="fas fa-fire"></i><a href = "/update_user/">Dashboard</a></div>
    <div class="nav-button" id="courseButton"><i class="fas fa-heart"></i><a href = "/chatroom/">Chat</a></div>
    <div class="nav-button"><i class="fas fa-heart"></i><a href = "/courses/">Courses</a></div>
    <div class="nav-button" id="addNotes"><i class="fas fa-chart-line"></i><a href = "/addNotes/">Add Notes</a></div>
    <div class="nav-button" id="viewNotes"><i class="fas fa-fire"></i><a href = "/viewNotes/">View Notes</a></div>
    <hr/>
    <div class="nav-button" id="viewNotes"><i class="fas fa-fire"></i><a href = "/update_user/">Settings</a></div>
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox"/>
  
</div>
<!-- partial -->
  
</body>
</html>
